.body-container {
    margin: 5px;
}

.head-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topics-container {
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.add-topic-btn {
    margin-left: 5px;
    border: 1px solid #313638;
    color: E8E9EB;
    border-radius: 4px;
    box-shadow: 5px 5px #313638;
}

.topic-container {
    background-color: #E8E9EB;
    display: flex;
    flex-direction: column;
    min-width: 32%;
    max-width: 49%;
    border: 1px solid black;
    border-radius: 3px;
    margin: 6px;
    box-shadow: 5px 10px black;
}

.topic-title-container {
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic-footer {
    padding: 10px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}