.topics-container {
    margin-left: 10px;
    margin-top: 5px;
}

.add-topic-btn {
    margin-left: 5px;
}

.topic-container {
    display: inline-block;
    width: 33%;
}

.card-container {
    margin: 5px;
    justify-content: left;

}

.close {
    position: absolute;
    right: 10px;
}

.card-footer {
    display: flex;
}

.completed-check {
    position: absolute;
    right: 10px;
    bottom: 12px;
}