
.task-container{
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px 10px 10px 6px;
}

.task-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid black;
    border-radius: 3px;
    background-color: white;
    font-weight: 500;
}

.task-title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.task-descr-container{
    padding: 5px;
    margin-left: 3px;
    /**font-family: 'Source Code Pro', monospace;**/
}

.task-descr {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    display: block;
}

.task-footer-container{
    border-top: 1px solid black;
    padding: 3px;
}

.no-progress {
    box-shadow: 3px 3px #313638;
}

.in-progress {
    box-shadow: 3px 3px #E4B363;
}

.complete {
    box-shadow: 3px 3px #578C5E;
}

.custom-modal .modal-content {
    background-color: #E8E9EB;
    border: 1px solid #313638;
    box-shadow: 5px 5px black;
}

.add-task-button {
    background-color: #E8E9EB;
    padding: 5px 10px;
    border: 1px solid #313638;
    color: E8E9EB;
    border-radius: 4px;
    margin-left: 0px;
}

.add-task-button:hover {
    background-color: white;
}

.add {
    box-shadow: 5px 5px #313638;
}

.submit {
    box-shadow: 5px 5px #578C5E
}

.cancel {
    box-shadow: 5px 5px #EF6461
}

.control-buttons {
    display: flex;
    justify-content: center;
}

.button-small {
    margin-left: 3px;
    padding: 7px 7px;
    font-size: 1.1rem;
    border: 1px solid #313638;
    border-radius: 4px;
}

.remove {
    background-color: #EF6461;
}

.completed {
    background-color: #578C5E;
}

.inprogress {
    background-color: #E4B363;
}

.tooltip > div.tooltip-inner {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.tooltip.show {
    opacity: 1 !important;
}