.App {
  text-align: left;
}

.header-container {
  display: flex;
  justify-content: space-around;
  margin: 8px;
}

.App-header {
  background-color: #E8E9EB;
  min-height: 80px;
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #313638;
  border: 1px solid #313638;
  border-radius: 4px;
  box-shadow: 7px 7px #E4B363, 14px 14px #EF6461;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
