.App {
  text-align: left;
  font-family: 'Kanit', sans-serif;

}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 15px;
}

.App-header {
  background-color: #E8E9EB;
  height: 80px;
  display: flex;
  width: 30%;
  justify-content:center;
  align-items: center;
  color: #313638;
  border: 1px solid #313638;
  border-radius: 4px;
  box-shadow: 7px 7px #E4B363, 14px 14px #578C5E;
}

@media screen and (max-width: 530px) {
  h2 {
    margin-left: 8px;
  }
}